*.zwc
*\~
*.swn
*.swo
*.swp
*.log
tags
.vimtags
*_history*

pipe
certs
cache
irc.conf
urls.log
iset.conf
relay.conf
.zcompdump
.rclone.conf
rweechat.log
*.weechatlog
.mutt_history
weechat_fifo*
weechat_crash*
!.distcc/hosts
.newsboat/urls
gifs/boobs.jpg
magnets/*.added
account_key.json
account_key.json
.newsbeuter/urls
.weechat/nicks.db
urlserver_list.txt
.emacs.d/undo-tree
.mutt_certificates
bind/bind.keys.v9_8
bind/account_key.json
.weechat/python/lastfm2.py
.weechat/chanop_mode_cache.dat
.weechat/script/plugins.xml.gz

rfc/
logs/
certs/
perl5/
kbox3/
openvpn/
.homesick/
.distcc/
postfix/
vimfiles/
.vim/view*/
.nicotine/
gifs/thewire/
.mpdscribble/
.vim/plugged/
.vim/session*/
oprofile_data/
.node_modules/
.atom/packages/
.vim/__archive/
.mixxx/analysis/
.mutt*/ox_config/
.emacs.d.spacemacs/
.mutt*/message_cache/

# vi:ft=cfg:
