[user]
	email = joeypabalinas@gmail.com
	name = Joey Pabalinas
	signingkey = AEEBCB7D68725419
[diff]
	tool = vimdiff2
	renameLimit = 24167
	algorithm = histogram
	context = 5
[difftool]
	prompt = false
[merge]
	tool = vimdiff3
[imap]
	folder = "[Gmail]/Drafts"
	host = imaps://imap.google.com
	user = joeypabalinas@gmail.com
	port = 993
	sslverify = false
[sendemail]
	smtpEncryption = tls
	smtpServer = smtp.gmail.com
	smtpUser = joeypabalinas@gmail.com
	smtpServerPort = 587
	thread = true
	signedoffbycc = true
	suppressfrom = true
[push]
	default = simple
	followTags = true
[alias]
	br = branch
	co = commit -S -v
	st = status
	l = log
	lu = log --show-signature --color-moved=dimmed_zebra -u
	lg = log --graph --oneline --decorate --boundary
	lga = log --graph --oneline --decorate --all
	lgs = log --graph --oneline --decorate --boundary --stat
	graph = log --graph --stat --pretty=format:"%C(yellow)%H%C(green)%d%C(reset)%n%x20%cd%n%x20%cn%x20(%ce)%n%x20%s%n"
	unstage = reset HEAD --
	cfg = config
	cfgg = config --global
	rv = remote -v
	rvv = remote -vv
	bv = branch -v
	bvv = branch -vv
	re = remote
	squash = rebase -i origin/master
	mail = send-email outgoing/*
	ch = checkout
	t = tag
	bi = bisect
	cl = clone
	r = rm --cached
	cached = diff --cached
	stat = status -sb
	d = diff --histogram
	dr = diff --histogram --relative --no-index
	fa = fetch --ipv4 --all --jobs=4 --recurse-submodules=on-demand
	lgp = log --graph --oneline --decorate --boundary --first-parent
	s = show --use-mailmap --show-signature -u
	dc = diff --cached --histogram
	p = format-patch -M @^ --shortstat -o /patches/
	la = !git --no-replace-objects log --color --graph --pretty=colorful-oneline --abbrev-commit --all
	sub = submodule
	f = grep -Fn --color=auto --break
	g = grep -Pn --color=auto --break
	gw = grep -PWn --color=auto --break
	gp = grep -Pnp --color=auto --break
	gf = grep -Fn --color=auto --break
	gr = grep -Pn --color=auto --break --no-index
	dcd = !git difftool --extcmd \"colordiff -wyB\"
	dcdy = !git difftool --extcmd \"colordiff -wyB\"
	di = !git difftool --extcmd git-icdiff
	i = ls-files -i --full-name --exclude-standard
	ds = log -M --oneline --stat --no-merges
	mt = mergetool
	mc = merge --continue
	ma = merge --abort
	rc = rebase --continue
	ra = rebase --abort
	update = pull -v --ff-only
	unset = config --global --unset
	pl = pull -tj5 --recurse-submodules=on-demand
	ps = push --follow-tags
	m = merge
	fw = grep -FWn --color=auto --break
	ff = grep -FWn --color=auto --break
	amend = commit -S -s -v --amend
	sl = shortlog --no-merges
	dirstat = diff -M --dirstat=2,cumulative
	count = rev-list --count --no-merges @
	numstat = log -M --oneline --numstat --no-merges
	diffstat = log -M --oneline --stat --no-merges
	cos = commit -S -s -v -p
	cop = commit -S -v -p
	cp = cherry-pick -S -s
	coa = commit -S -v -a
	df = diff --name-only
	rb = rebase
	cur = am --show-current-patch
	cpc = cherry-pick -S --continue
	ri = rebase --signoff -S -i
	ls = log --stat --show-signature --color-moved=dimmed_zebra
	ld = log --dirstat --show-signature --color-moved=dimmed_zebra
	ldf = log --dirstat-by-file --show-signature --color-moved=dimmed_zebra
	lw = log --show-signature --color-moved=dimmed_zebra --word-diff=plain -u
[web]
	browser = w3m
[instaweb]
	browser = w3m
[color]
	ui = auto
[core]
	abbrev = 18
	pager = less
	excludesFile = /home/alyptik/.cvsignore
[credential]
	helper = /usr/lib/git-core/git-credential-gnome-keyring
[commit]
	gpgsign = false
[rerere]
	enabled = true
[pretty]
	colorful-oneline = format:%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset
[pull]
	rebase = false
	ff = true
[grep]
	lineNumber = true
	patternType = perl
	extendedRegexp = true
	fullname = true
	threads = 4
	fallbackToNoIndex = true
[log]
	abbrevCommit = yes
[format]
[format]
	thread = shallow
[init]
	templateDir = /usr/share/git-core/templates
[rebase]
	stat = true
