[user]
	email = joeypabalinas@gmail.com
	name = Joey Pabalinas
	signingkey = AA81EEF424F1A302
[diff]
	tool = vimdiff2
	renameLimit = 24167
	algorithm = histogram
	context = 5
[difftool]
	prompt = false
[merge]
	tool = vimdiff3
[imap]
	folder = "[Gmail]/Drafts"
	host = imaps://imap.google.com
	user = joeypabalinas@gmail.com
	port = 993
	sslverify = false
[sendemail]
	smtpEncryption = tls
	smtpServer = smtp.gmail.com
	smtpUser = joeypabalinas@gmail.com
	smtpServerPort = 587
	thread = true
	signedoffbycc = true
	suppressfrom = true
	; aliasfiletype = mutt
	; aliasesfile = ~/.mutt/mutt_aliases
[push]
	default = simple
	followtags = false
[alias]
	br = branch
	co = commit -S -v
	st = status
	lu = log --show-signature --color-moved=zebra -u
	lg = log --pretty=colorful-oneline --color --graph --decorate --abbrev-commit --boundary
	lga = log --pretty=colorful-oneline --color --graph --decorate --abbrev-commit --all
	lgs = log --pretty=colorful-oneline --color --graph --decorate --abbrev-commit --stat
	graph = log --graph --stat --pretty=format:"%C(yellow)%H%C(green)%d%C(reset)%n%x20%cd%n%x20%cn%x20(%ce)%n%x20%s%n"
	unstage = reset HEAD --
	cfg = config
	cfgg = config --global
	rv = remote -v
	rvv = remote -vv
	bv = branch -v
	bvv = branch -vv
	re = remote
	squash = rebase -i origin/master
	mail = send-email --signed-off-by-cc --cc-cover --to-cover --no-chain-reply-to --thread
	ch = checkout
	t = tag
	bi = bisect
	cl = clone
	r = rm --cached
	cached = diff --cached
	stat = status -sb
	d = diff --histogram
	dr = diff --histogram --relative --no-index
	fa = fetch --ipv4 --all --jobs=4 --recurse-submodules=on-demand
	lgp = log --pretty=colorful-oneline --color --graph --decorate --abbrev-commit --first-parent
	s = show --use-mailmap --show-signature -u
	dc = diff --cached --histogram
	p = format-patch -M @~ --stat --stdout
	la = log --graph --color --pretty --decorate --stat --color-moved=zebra --all
	sub = submodule
	f = grep -Fn --color=auto --break
	g = grep -Pn --color=auto --break
	gw = grep -PWn --color=auto --break
	gp = grep -Pnp --color=auto --break
	gf = grep -Fn --color=auto --break
	gr = grep -Pn --color=auto --break --no-index
	dcd = !git difftool --extcmd \"colordiff -wyB\"
	dcdy = !git difftool --extcmd \"colordiff -wyB\"
	di = !git difftool --extcmd git-icdiff
	i = ls-files -i --full-name --exclude-standard
	ds = log -M --oneline --stat --no-merges
	mt = mergetool
	mc = merge --continue
	ma = merge --abort
	rc = rebase --continue
	ra = rebase --abort
	update = pull -v --ff-only
	unset = config --global --unset
	pl = pull -tj8 --recurse-submodules=yes --all
	ps = push --follow-tags
	m = merge
	fw = grep -FWn --color=auto --break
	ff = grep -FWn --color=auto --break
	amend = commit -S -s -v --amend
	sl = shortlog --no-merges
	dirstat = diff -M --dirstat=2,cumulative
	count = rev-list --count --no-merges @
	numstat = log -M --oneline --numstat --no-merges
	diffstat = log -M --oneline --stat --no-merges
	cos = commit -S -s -v -p
	cop = commit -S -v -p
	cp = cherry-pick -S -s
	coa = commit -S -v -a
	rb = rebase
	cur = am --show-current-patch
	cpc = cherry-pick -S --continue
	ri = rebase --signoff -S -i
	ld = log --dirstat --show-signature --color-moved=zebra
	ldf = log --dirstat-by-file --show-signature --color-moved=zebra
	lw = log --show-signature --color-moved=zebra --word-diff=plain -u
	l = log --stat --color-moved=zebra
	dn = diff --name-only
	rl = reflog
	cfggu = config --global --unset
	cfgu = config --unset
	rd = range-diff
	lo = log --oneline --decorate --all
	cpa = cherry-pick -S --abort
	ls = log --stat --show-signature --color-moved=zebra
	ll = log --pretty=colorful-oneline --color --decorate --abbrev-commit --stat
	patch = format-patch --stat --cover-letter --add-header=\"X-Patchwork-Bot: notify\" -o /patches
	mine = log --author=joeypabalinas@gmail.com
	me = log --grep=joeypabalinas@gmail.com
[web]
	browser = w3m
[instaweb]
	browser = w3m
[color]
	ui = auto
[core]
	abbrev = 18
	pager = less
	excludesfile = ~/.cvsignore
[credential]
	helper = /usr/lib/git-core/git-credential-gnome-keyring
[commit]
	gpgsign = false
[rerere]
	enabled = false
	autoupdate = false
[pretty]
	colorful-oneline = format:%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset
[pull]
	rebase = false
	ff = true
[grep]
	lineNumber = true
	patternType = perl
	extendedRegexp = true
	fullname = true
	threads = 4
	fallbackToNoIndex = true
[log]
	abbrevCommit = yes
	showSignature = true
[format]
[format]
	thread = shallow
	signatureFile = ~/.signature
	outputDirectory = ~/patches
[init]
	templateDir = /usr/share/git-core/templates
[rebase]
	stat = true
[gpg]
	program = gpg
[checkout]
	defaultremote = up
[safe]
	directory = /store/dotfiles
	directory = /store/projects/3dtest
	directory = /store/projects/8cc
	directory = /store/projects/Brainfuck
	directory = /store/projects/C11parser
	directory = /store/projects/CrashSimulator
	directory = /store/projects/ERAM
	directory = /store/projects/FastestWebsiteEver
	directory = /store/projects/GdbShellPipe
	directory = /store/projects/InsecureProgramming
	directory = /store/projects/Intel2GAS
	directory = /store/projects/IntelTXE-PoC
	directory = /store/projects/Jeff
	directory = /store/projects/LXR
	directory = /store/projects/LearningMasteringAlgorithms-C
	directory = /store/projects/Lysa
	directory = /store/projects/Potato
	directory = /store/projects/Randomized-tree
	directory = /store/projects/RemoteSystemsTempFiles
	directory = /store/projects/Reptile
	directory = /store/projects/TempleOS
	directory = /store/projects/TinyGenericC
	directory = /store/projects/WeechatRelay
	directory = /store/projects/ack3
	directory = /store/projects/alyptik.github.io
	directory = /store/projects/alyptik
	directory = /store/projects/aoc
	directory = /store/projects/arduino
	directory = /store/projects/asciicast2gif
	directory = /store/projects/asrepl
	directory = /store/projects/aurpublish
	directory = /store/projects/aurutils
	directory = /store/projects/base64
	directory = /store/projects/baudcat
	directory = /store/projects/bazel
	directory = /store/projects/bdwgc
	directory = /store/projects/bgipc
	directory = /store/projects/bgnet
	directory = /store/projects/binpack
	directory = /store/projects/binutils-gdb
	directory = /store/projects/bnf
	directory = /store/projects/boat
	directory = /store/projects/books
	directory = /store/projects/botnets
	directory = /store/projects/branchless-utf8-simd
	directory = /store/projects/branchless-utf8
	directory = /store/projects/bstrlib
	directory = /store/projects/build-linux
	directory = /store/projects/build
	directory = /store/projects/buildkit
	directory = /store/projects/buildroot
	directory = /store/projects/c11man
	directory = /store/projects/c11threads
	directory = /store/projects/c_misc
	directory = /store/projects/cci
	directory = /store/projects/cdescent
	directory = /store/projects/cepl
	directory = /store/projects/cgasm
	directory = /store/projects/chaos
	directory = /store/projects/chck
	directory = /store/projects/cliapi
	directory = /store/projects/coccinelle
	directory = /store/projects/code
	directory = /store/projects/colorization
	directory = /store/projects/compile-to-web
	directory = /store/projects/coreutils
	directory = /store/projects/cosmos
	directory = /store/projects/cpp-skeleton
	directory = /store/projects/crypto-algorithms
	directory = /store/projects/cscope
	directory = /store/projects/ctags
	directory = /store/projects/ctypes.sh
	directory = /store/projects/debug
	directory = /store/projects/derpgp
	directory = /store/projects/dlcall
	directory = /store/projects/docker
	directory = /store/projects/dockerfiles
	directory = /store/projects/docs
	directory = /store/projects/dogbot
	directory = /store/projects/dracut
	directory = /store/projects/editline
	directory = /store/projects/efi-roller
	directory = /store/projects/efitools
	directory = /store/projects/eggdrop
	directory = /store/projects/elkdat
	directory = /store/projects/eprintf
	directory = /store/projects/es-shell
	directory = /store/projects/euler
	directory = /store/projects/exfat-nofuse
	directory = /store/projects/exfat
	directory = /store/projects/fast-syntax-highlighting
	directory = /store/projects/fastly
	directory = /store/projects/flatcap-brain-dump
	directory = /store/projects/flex
	directory = /store/projects/freelance
	directory = /store/projects/ftree-go
	directory = /store/projects/gcc
	directory = /store/projects/gifs
	directory = /store/projects/gitsuggest
	directory = /store/projects/glibc
	directory = /store/projects/gmail-oauth2-tools
	directory = /store/projects/gnupg
	directory = /store/projects/gperftools
	directory = /store/projects/gvisor
	directory = /store/projects/hacking
	directory = /store/projects/hasklel
	directory = /store/projects/hdigest
	directory = /store/projects/heap_allocator
	directory = /store/projects/hello
	directory = /store/projects/hgrep
	directory = /store/projects/hsregex
	directory = /store/projects/httpd
	directory = /store/projects/i686-elf-os-bare
	directory = /store/projects/i686-elf-os
	directory = /store/projects/idalius
	directory = /store/projects/igcc-code
	directory = /store/projects/imgcat
	directory = /store/projects/inspector
	directory = /store/projects/jansson
	directory = /store/projects/jellyshot
	directory = /store/projects/jimtcl
	directory = /store/projects/json-builder
	directory = /store/projects/json-parser
	directory = /store/projects/kdg
	directory = /store/projects/kernel-dev
	directory = /store/projects/kernel-modules
	directory = /store/projects/kernel
	directory = /store/projects/klib
	directory = /store/projects/kmake
	directory = /store/projects/legacy-cc
	directory = /store/projects/lexyacc
	directory = /store/projects/libassuan
	directory = /store/projects/libatomic_ops
	directory = /store/projects/libcfg
	directory = /store/projects/libcss
	directory = /store/projects/libdilf
	directory = /store/projects/libelf_man
	directory = /store/projects/libgcrypt
	directory = /store/projects/libjwt
	directory = /store/projects/libplacebo
	directory = /store/projects/libpototo
	directory = /store/projects/libsrsirc
	directory = /store/projects/libtap
	directory = /store/projects/libuhttp
	directory = /store/projects/lightning
	directory = /store/projects/lind-clang-llvm
	directory = /store/projects/linenoise
	directory = /store/projects/linux-client
	directory = /store/projects/linux-docs
	directory = /store/projects/linux-fullhistory.wiki
	directory = /store/projects/linux-fullhistory
	directory = /store/projects/linux-history
	directory = /store/projects/linux-insides
	directory = /store/projects/linux-notes
	directory = /store/projects/linux
	directory = /store/projects/lkml-scraper
	directory = /store/projects/lkml-vger
	directory = /store/projects/localslackirc
	directory = /store/projects/luajit-2.0
	directory = /store/projects/malloc-tutorial
	directory = /store/projects/man-db
	directory = /store/projects/mathc
	directory = /store/projects/mc
	directory = /store/projects/memalloc
	directory = /store/projects/memfdexec
	directory = /store/projects/mkoskar-dotfiles
	directory = /store/projects/mkvserver_mk2
	directory = /store/projects/mod_authnz_jwt
	directory = /store/projects/mongoose
	directory = /store/projects/monkeysphere
	directory = /store/projects/morris-worm
	directory = /store/projects/musl
	directory = /store/projects/mx
	directory = /store/projects/nachos-3.4
	directory = /store/projects/nacl_interp
	directory = /store/projects/neatvi
	directory = /store/projects/neomutt
	directory = /store/projects/net
	directory = /store/projects/nocache
	directory = /store/projects/notes
	directory = /store/projects/nyxt
	directory = /store/projects/oak
	directory = /store/projects/odds-and-ends
	directory = /store/projects/oh-my-zsh
	directory = /store/projects/openssl
	directory = /store/projects/os-tutorial
	directory = /store/projects/os01
	directory = /store/projects/pacman
	directory = /store/projects/pbot
	directory = /store/projects/perl-tags-vim
	directory = /store/projects/petabuf
	directory = /store/projects/pineterm
	directory = /store/projects/piperun
	directory = /store/projects/plan9port
	directory = /store/projects/plumber
	directory = /store/projects/pmake
	directory = /store/projects/poky
	directory = /store/projects/profiling-guide
	directory = /store/projects/public-inbox
	directory = /store/projects/pysurgeon
	directory = /store/projects/python-readability
	directory = /store/projects/quagmire
	directory = /store/projects/readability
	directory = /store/projects/readline
	directory = /store/projects/reptyr
	directory = /store/projects/repy_v2
	directory = /store/projects/ronn
	directory = /store/projects/rr
	directory = /store/projects/rrapper
	directory = /store/projects/rrrr
	directory = /store/projects/runq
	directory = /store/projects/sand-leek
	directory = /store/projects/school
	directory = /store/projects/scripts
	directory = /store/projects/scull
	directory = /store/projects/secure-systems-lab
	directory = /store/projects/sha1
	directory = /store/projects/shbot
	directory = /store/projects/shellcheck
	directory = /store/projects/sherlock
	directory = /store/projects/slack-term
	directory = /store/projects/sort
	directory = /store/projects/sparse-dev
	directory = /store/projects/sparse
	directory = /store/projects/spimsimulator-code
	directory = /store/projects/ssoma
	directory = /store/projects/st
	directory = /store/projects/stack-overflow-import
	directory = /store/projects/stb
	directory = /store/projects/stgl
	directory = /store/projects/strace
	directory = /store/projects/supervanitygen
	directory = /store/projects/tek
	directory = /store/projects/templates
	directory = /store/projects/tendra
	directory = /store/projects/termite
	directory = /store/projects/test-doc
	directory = /store/projects/test_frameworks
	directory = /store/projects/tetrjs
	directory = /store/projects/tictactoe
	directory = /store/projects/tiger
	directory = /store/projects/tiny-bignum-c
	directory = /store/projects/tis-interpreter
	directory = /store/projects/trape
	directory = /store/projects/trickle
	directory = /store/projects/tt
	directory = /store/projects/umalloc
	directory = /store/projects/uthash
	directory = /store/projects/vido
	directory = /store/projects/vmlaunch
	directory = /store/projects/volatility
	directory = /store/projects/vulkan
	directory = /store/projects/website-pelican
	directory = /store/projects/wee-slack
	directory = /store/projects/weechat
	directory = /store/projects/xor
	directory = /store/projects/xorshift-1.2
	directory = /store/projects/xterm-snapshots
	directory = /store/projects/yacc
	directory = /store/projects/yacp
	directory = /store/projects/yajl
	directory = /store/projects/zeromaps
	directory = /store/projects/zsh-cvs
	directory = /store/projects/zsh-syntax-highlighting
	directory = /store/projects/zsh
	directory = /store/projects/zshelldoc
	directory = /store/projects/zstd
