*.zwc
*.swn
*.swo
*.swp
*\~
/perl5/
/magnets/*.added
account_key.json
account_key.json
bind/account_key.json
bind/bind.keys.v9_8
.mutt_certificates
.distcc/
!.distcc/hosts
urls.log
weechat.log
weechat_crash*
logs/
pipe
urlserver_list.txt
weechat_fifo*
.mpdscribble/
certs
certs/
irc.conf
iset.conf
relay.conf
.*zsh_history*
.*bash_history*
.*sh_history*
openvpn/
.homesick/
.newsbeuter/urls
.newsboat/urls
.vimtags
.weechat/nicks.db
*.weechatlog
*.log
tags
/gifs/thewire/
/rfc/
.mixxx/analysis/
.node_modules/
.vim/__archive/
.zcompdump
.rclone.conf
gifs/boobs.jpg
oprofile_data/
kbox3/
vimfiles/
.nicotine/
.emacs.d.spacemacs/
.emacs.d/undo-tree
.mutt.d/ox_config/
.mutt_history
