*.zwc
*.swn
*.swo
*.swp
*\~
/perl5/
/magnets/*.added
account_key.json
**/account_key.json
bind/account_key.json
bind/bind.keys.v9_8
/.distcc/
!/.distcc/hosts
**/urls.log
**/weechat.log
**/weechat_crash*
**/logs/
**/pipe
**/urlserver_list.txt
**/weechat_fifo*
/.mpdscribble/mpdscribble.log
**/certs
**/certs/
**/irc.conf
**/iset.conf
**/relay.conf
**/.*zsh_history*
**/.*bash_history*
**/.*sh_history*
**/openvpn/
.homesick/repos/homeshick/
.newsbeuter/urls
.vimtags
.weechat/nicks.db
tags
gifs/thewire/
.mixxx/analysis/
.node_modules/
.vim/__archive/
vimfiles/
.zsh.d/.zcompdump
.rclone.conf
gifs/boobs.jpg
oprofile_data/
rfc/
kbox3/
