# This file controls the behaviour of line input editing for
# programs that use the GNU Readline library.  Existing
# programs include FTP, Bash, and GDB.
#
# You can re-read the inputrc file with C-x C-r.
# Lines beginning with '#' are comments.
#
# First, include any system-wide bindings and variable
# assignments from /etc/Inputrc

# $if guard=sourced
#         $include /etc/inputrc
#         set guard sourced
# $endif

set meta-flag on
set input-meta on
set convert-meta off
set output-meta on

# do not bell on tab-completion
set bell-style visible
# set bell-style none
set bind-tty-special-chars off
set blink-matching-paren off
set colored-completion-prefix on
set colored-stats on
set completion-ignore-case on
set completion-map-case on
set enable-bracketed-paste off
set expand-tilde on
set history-preserve-point on
set menu-complete-display-prefix on
set page-completions off
set show-all-if-ambiguous on
set show-mode-in-prompt on
set visible-stats on

# gdb macros
"\e`": "p/a *nacl_user[1]@3"
# "\e`": "set $a = $_\nset $b = $_-$r15+nacl_user[1]->r15\n"
"\e1": "xr $_\n"
"\e2": "xr $_-$r15+nacl_user[1]->r15\n"
"\e3": "xi $_\n"
"\e4": "xi $_-$r15+nacl_user[1]->r15\n"
"\e7": "info args\n"
"\e8": "info locals\n"
"\e9": "info registers\n"
"\e0": "info threads\n"
"\e-": "set disassemble-next-line off\n"
"\e=": "set disassemble-next-line on\n"
"\e;": "tui disable\n"
"\e'": "tui enable\n"
"\e,": "layout prev\n"
"\e/": "layout next\n"

# other readline custom shortcuts
"\C-k": kill-whole-line
"\C-u": universal-argument
"\C-w": backward-kill-word
"\C-xr": re-read-init-file
"\C-x\C-r": re-read-init-file
"\eh": tilde-expand
"\eu": undo
"\e[": start-kbd-macro
"\e]": end-kbd-macro
"\e\\": call-last-kbd-macro

# f5 to swap between vi/emacs mode
$if mode=emacs
	"\e[15~": vi-editing-mode
$endif
$if mode=vi
	"\e[15~": emacs-editing-mode
$endif

# ctrl
"\e[1;5A": beginning-of-line
"\e[1;5B": end-of-line
"\e[1;5C": forward-word
"\e[1;5D": backward-word
# shift
"\e[1;2A": beginning-of-line
"\e[1;2B": end-of-line
"\e[1;2C": forward-word
"\e[1;2D": backward-word
# alt/meta
"\e[1;3A": beginning-of-line
"\e[1;3B": end-of-line
"\e[1;3C": forward-word
"\e[1;3D": backward-word

# for linux console and RH/Debian xterm
"\e[1~": beginning-of-line
"\e[4~": end-of-line
"\e[5~": beginning-of-history
"\e[6~": end-of-history
"\e[7~": beginning-of-line
"\e[3~": delete-char
"\e[2~": quoted-insert
"\e[5C": forward-word
"\e[5D": backward-word
"\e\e[C": forward-word
"\e\e[D": backward-word
# for rxvt
"\e[8~": end-of-line
# for non RH/Debian xterm, can't hurt for RH/DEbian xterm
"\eOH": beginning-of-line
"\eOF": end-of-line
# for freebsd console
"\e[H": beginning-of-line
"\e[F": end-of-line
