! xterm Settings
xterm*termName:		xterm-256color
xterm*locale:		true
xterm*metaSendsEscape:	true
xterm*saveLines:	4096
xterm*VT100.geometry:	80x32
xterm*scaleHeight:	0.99
xterm*bellIsUrgent:	true
xterm*dynamicColors:	true
xterm*utf8:		2
xterm*scrollKey:	true
xterm*scrollTtyOutput:	false
xterm*scrollBar:	true
xterm*rightScrollBar:	true
xterm*jumpScroll:	true
xterm*multiScroll:	true
xterm*toolBar:		false
xterm*eightBitInput:	false
! BROKEN
XTerm*VT100.translations:	#override <Btn1Up>: select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0)
xterm*colorBDMode:	true
xterm*colorBD:		rgb:82/a4/d3
xterm*colorULMode:	true
xterm*colorUL:		rgb:e4/e4/e4

! yeahconsole Settings
yeahconsole*term:		xterm
yeahconsole*termName:		xterm-256color
yeahconsole*locale:		true
yeahconsole*metaSendsEscape:	true
yeahconsole*saveLines:		4096
yeahconsole*VT100.geometry:	80x32
yeahconsole*scaleHeight:	0.99
yeahconsole*bellIsUrgent:	true
yeahconsole*dynamicColors:	true
yeahconsole*utf8:		2
yeahconsole*scrollKey:		true
yeahconsole*scrollTtyOutput:	false
yeahconsole*scrollBar:		true
yeahconsole*rightScrollBar:	true
yeahconsole*jumpScroll:		true
yeahconsole*multiScroll:	true
yeahconsole*toolBar:		false
yeahconsole*eightBitInput:	false
! BROKEN
yeahconsole*VT100.translations:	#override <Btn1Up>: select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0)
yeahconsole*colorBDMode:	true
yeahconsole*colorBD:	rgb:82/a4/d3
yeahconsole*colorULMode:	true
yeahconsole*colorUL:	rgb:e4/e4/e4

! Xcursor*theme:	Jp
! Xcursor*theme:	ArchCursorTheme
Xcursor*theme:	Oxygen_Blue

Xft.dpi: 260
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 0
Xft.antialias: 1
Xft.rgba: rgb

st.font:		Fira Code:style=Light:pixelsize=30:antialias=true
! st.font:		Fira Code:style=Light:pixelsize=30:antialias=true, \
!                                 Noto Emoji:style=Regular:pixelsize=30:antialias=true:hinting=true,\
!                                 Symbola:style=Regular:pixelsize=30:antialias=true:hinting=true,\
!                                 Unifont:style=Medium:pixelsize=30:antialias=true:hinting=true,\
!                                 FreeSerif:style=Regular:pixelsize=30:antialias=true:hinting=true,\
!                                 WenQuanYi Micro Hei Mono:style=Light:pixelsize=30:antialias=true:hinting=true
stjerm*font:			Fantasque Sans Mono Light 9
! stjerm*font:			Source Code Pro Light 9
URxvt*font:			xft:Fira Code:style=Retina:pixelsize=30:antialias=true:hinting=true
yeahconsole*faceName:		xft:Fira Code:style=Light:pixelsize=30:antialias=true
xterm*faceName:			xft:Fira Code:style=Light:pixelsize=30:antialias=true

st.bold_font:			1
st.italic_font:			1
! st.alpha:			250
st.alpha:			255
st.termname:			st-256color
st.shell:			/bin/sh
st.bellvolume:			0
st.tabspaces:			8
st.cwscale:			0.9
st.chscale:			1.0
stjerm*key:			f12
stjerm*autohide:		false
stjerm*border:			none
stjerm*opacity:			90
stjerm*width:			90%
stjerm*height:			90%
stjerm*allowreorder:		true
stjerm*tabfill:			true
stjerm*tabpos:			bottom

URxvt*letterSpace:		-1
! URxvt*letterSpace:		1
URxvt*cutchars:			`""''()*,;<>[]{|}
Aterm*cutchars:			`""''()*,;<>[]{|}
Rxvt*cutchars:			`""''()*,;<>[]{|}
XTerm*cutchars:			`""''()*,;<>[]{|}
!URvxt*cutchars:		BACKSLASH `""''&()*,;<=>?@[]^{|}

URxvt*perl-ext-common:		default,osc-xterm-clipboard,searchable-scrollback,readline,clipboard,clipboard-osc,keyboard-select,tabbedex,fullscreen,vtwheel,resize-font,autocomplete-ALL-the-things,font-size,url-select,matcher
URxvt*matcher.pattern.1:	\\bwww\\.[\\w-]+\\.[\\w./?&@#-]*[\\w/-]
URxvt*matcher.pattern.2:	\\B(/\\S+?):(\\d+)(?=:|$)
URxvt*loginShell:		true
URxvt*iso14755:			false
URxvt*keysym.M-Slash:		perl:aAtt:fuzzy-word-complete
URxvt*keysym.M-Space:		perl:aAtt:surround-complete
URxvt*keysym.M-Left:		\033[1;5D
URxvt*keysym.M-Right:		\033[1;5C
!URxvt*keysym.M-C-Down:		\001
!URxvt*keysym.M-C-Up:		\005
URxvt*keysym.Home:		\001
URxvt*keysym.S-Down:		\005
URxvt*keysym.S-Up:		\001
URxvt*keysym.End:		\005
URxvt*keysym.KP_Home:		\001
URxvt*keysym.KP_End:		\005
URxvt*keysym.Control-Shift-Up:	\001
URxvt*keysym.Control-Shift-Down:\005
URxvt*tabbed.no-tabbedex-keys:	true
URxvt*url-select.autocopy:	true
URvxt*url-select.button:	1
URxvt*url-select.underline:	true
URxvt*url-select.launcher:	/store/scripts/plumber
URxvt*url-launcher:		/store/scripts/plumber
URxvt*keysym.Shift-C-C:		perl:clipboard:copy
URxvt*keysym.Shift-C-V:		perl:clipboard:paste
URxvt*keysym.Shift-M-V:		perl:clipboard:paste_escaped
URxvt*clipboard.copycmd:	xsel -ib
URxvt*clipboard.pastecmd:	xsel -ob
URxvt*clipboard.autocopy:	true
!URxvt*clipboard.autocopy:	false
URxvt*matcher.button:		1
URxvt*matcher.rend.0:		Uline Bold fg5
URxvt*keysym.C-Delete:		perl:matcher:last
URxvt*keysym.M-Delete:		perl:matcher:list
URxvt*keysym.S-M-U:		perl:url-select:select_next
URxvt*keysym.M-Escape:		perl:keyboard-select:activate
URxvt*keysym.M-s:		perl:keyboard-select:search
URxvt*tabbed.new-button:	true
URxvt*tabbed.autohide:		false
URxvt*keysym.S-C-T:		perl:tabbedex:new_tab
URxvt*keysym.M-t:		perl:tabbedex:new_tab
URxvt*keysym.Control-Tab:	perl:tabbedex:next_tab
URxvt*keysym.S-Right:		perl:tabbedex:next_tab
URxvt*keysym.M-Tab:		perl:tabbedex:prev_tab
URxvt*keysym.S-Left:		perl:tabbedex:prev_tab
URxvt*keysym.S-C-W:		perl:tabbedex:kill_tab
URxvt*keysym.M-w:		perl:tabbedex:kill_tab
URxvt*keysym.M-C-Down:		perl:tabbedex:move_tab_left
URxvt*keysym.M-C-Up:		perl:tabbedex:move_tab_right
URxvt*keysym.C-Left:		\033[1;5D
URxvt*keysym.C-Right:		\033[1;5C
URxvt*keysym.F11:		perl:fullscreen:switch
URxvt*keysym.C-Up:		perl:font-size:increase
URxvt*keysym.C-Down:		perl:font-size:decrease
URxvt*keysym.M-Up:		perl:font-size:incglobal
URxvt*keysym.M-Down:		perl:font-size:decglobal
URxvt*iconFile:			/usr/share/icons/Adwaita/scalable/apps/utilities-terminal-symbolic.svg
URxvt*scrollstyle:		plain
URxvt*scrollTtyOutput:		false
URxvt*scrollWithBuffer:		true
URxvt*scrollTtyKeypress:	true
URxvt*secondaryScreen:		0
URxvt*secondaryScroll:		0
URxvt*secondaryWheel:		1
URxvt*hold:			0
URxvt*insecure:			1
URxvt*depth:			32
URxvt*background:		[95]#32302f
URxvt*foreground:		#ebdbb2

! Other colors
! *color0:	black
! *color1:	red3
! *color2:	green3
! *color3:	yellow3
! *color4:	blue2
! *color5:	magenta3
! *color6:	cyan3
! *color8:	gray90
! *color8:	grey50
! *color9:	red
! *color10:	green
! *color12:	yellow
! *color12:	rgb:5c/5c/ff
! *color13:	magenta
!  *color14:	cyan
! *color15:	white
!  -----------------------------------------------------------------------------
! File:	gruvbox-dark.xresources
! Description:	Retro groove colorscheme generalized
! Author:	morhetz <morhetz@gmail.com>
! Source:	https://github.com/morhetz/gruvbox-generalized
! Last Modified:	6 Sep 2014
! -----------------------------------------------------------------------------

! hard contrast:
*background:	#32302f
! soft contrast:
*foreground:	#ebdbb2
! Black + DarkGrey
*color0:	#282828
*color8:	#928374
! DarkRed + Red
*color1:	#cc241d
*color9:	#fb4934
! DarkGreen + Green
*color2:	#98971a
*color10:	#b8bb26
! DarkYellow + Yellow
*color3:	#d79921
*color11:	#fabd2f
! DarkBlue + Blue
*color4:	#458588
*color12:	#83a598
! DarkMagenta + Magenta
*color5:	#b16286
*color13:	#d3869b
! DarkCyan + Cyan
*color6:	#689d6a
*color14:	#8ec07c
! LightGrey + White
*color7:	#ebdbb2
*color15:	#ebdbb2

termite*background:	#32302f
termite*foreground:	#ebdbb2
termite*color0:	#282828
termite*color8:	#928374
! DarkRed + Red
termite*color1:	#cc241d
termite*color9:	#fb4934
! DarkGreen + Green
termite*color2:	#98971a
termite*color10:	#b8bb26
! DarkYellow + Yellow
termite*color3:	#d79921
termite*color11:	#fabd2f
! DarkBlue + Blue
termite*color4:	#458588
termite*color12:	#83a598
! DarkMagenta + Magenta
termite*color5:	#b16286
termite*color13:	#d3869b
! DarkCyan + Cyan
termite*color6:	#689d6a
termite*color14:	#8ec07c
! LightGrey + White
termite*color7:	#ebdbb2
termite*color15:	#ebdbb2

! solarized
stjerm*background:	#32302f
stjerm*foreground:	#ebdbb2
stjerm*color0:	#282828
stjerm*color8:	#928374
! DarkRed + Red
stjerm*color1:	#cc241d
stjerm*color9:	#fb4934
! DarkGreen + Green
stjerm*color2:	#98971a
stjerm*color10:	#b8bb26
! DarkYellow + Yellow
stjerm*color3:	#d79921
stjerm*color11:	#fabd2f
! DarkBlue + Blue
stjerm*color4:	#458588
stjerm*color12:	#83a598
! DarkMagenta + Magenta
stjerm*color5:	#b16286
stjerm*color13:	#d3869b
! DarkCyan + Cyan
stjerm*color6:	#689d6a
stjerm*color14:	#8ec07c
! LightGrey + White
stjerm*color7:	#ebdbb2
stjerm*color15:	#ebdbb2

! ! Molokai theme
! stjerm*background:	#121212
! stjerm*foreground:	#d0d0d0
! stjerm*cursorColor:	#d0d0d0
! stjerm*color0:		#101010
! stjerm*color1:		#960050
! stjerm*color2:		#66aa11
! stjerm*color3:		#c47f2c
! stjerm*color4:		#30309b
! stjerm*color5:		#7e40a5
! stjerm*color6:		#89b6e2
! stjerm*color7:		#9999aa
! stjerm*color8:		#303030
! stjerm*color9:		#ff0090
! stjerm*color10:		#80ff00
! stjerm*color11:		#ffba68
! stjerm*color12:		#5f5fee
! stjerm*color13:		#bb88dd
! stjerm*color14:		#4eb4fa
! stjerm*color15:		#d0d0d0
