[Unit]
Description=Transmission BitTorrent Daemon
After=network.target

[Service]
Type=notify
#User=transmission
User=jp
ExecStart=/usr/bin/transmission-daemon -f --log-info
# -g /home/alyptik/.config/transmission
#ExecStart=/usr/bin/transmission-daemon -f --log-info -g /home/alyptik/.config/transmission
ExecReload=/bin/kill -s HUP $MAINPID
RestrictAddressFamilies=~AF_INET6
# RestrictAddressFamilies=AF_INET
PrivateTmp=true
ProtectSystem=full
IOSchedulingClass=best-effort
CPUSchedulingPolicy=batch
LimitNOFILE=8096

[Install]
WantedBy=default.target
