.*.swp
urls.log
weechat.log
weechat_crash*
logs/
pipe
urlserver_list.txt
weechat_fifo*
.mpdscribble/mpdscribble.log
certs
certs/
irc.conf
iset.conf
relay.conf
beep.ogg
country/
latex_unicode.xml
plugins.conf.bak
queryman.txt
ssl/
weechat.conf.bak
zncplayback_times.json
