#  utsushi-esci.rules -- bring up supported devices as scanners
#  Copyright (C) 2012-2016  SEIKO EPSON CORPORATION
#
#  License: GPL-3.0+
#  Author : EPSON AVASYS CORPORATION
#
#  This file is part of the 'Utsushi' package.
#  This package is free software: you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation, either version 3 of the License or, at
#  your option, any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#  You ought to have received a copy of the GNU General Public License
#  along with this package.  If not, see <http://www.gnu.org/licenses/>.

# ACTION!="add|bind", GOTO="utsushi_esci_rules_end"
ENV{DEVTYPE}!="usb_device", GOTO="utsushi_esci_rules_end"
ATTR{idVendor}!="04b8", GOTO="utsushi_esci_rules_end"

LABEL="utsushi_esci_rules_begin"

ATTRS{idProduct}=="0145", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="0146", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="014c", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="014d", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="0150", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="0152", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="0154", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="0155", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="0156", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="0157", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="0159", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="015a", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="015c", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="015d", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="015e", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="015f", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="0160", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="0162", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="0163", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="0164", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="0165", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="0166", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="0167", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="0168", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="0169", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="016b", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="016c", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="016e", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="0176", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="0177", ENV{utsushi_driver}="esci"

ATTRS{idProduct}=="08bc", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="08c0", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="08c2", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="08cc", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="08cd", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="08ce", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="08cf", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="08d1", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="08d2", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="08d3", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="1101", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="1102", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="1103", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="1104", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="1105", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="1106", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="1107", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="1108", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="1109", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="110a", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="110b", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="110c", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="110d", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="110f", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="1112", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="1113", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="1114", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="1115", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="1116", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="1117", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="1118", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="1119", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="111a", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="111b", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="111c", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="111d", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="111e", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="111f", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="1120", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="1121", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="1122", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="1123", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="1125", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="1126", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="1127", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="1128", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="1129", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="112a", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="112b", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="112c", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="112d", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="112e", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="112f", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="1130", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="1131", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="1132", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="1133", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="1134", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="1135", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="1136", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="1137", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="1138", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="1139", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="113a", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="113b", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="113c", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="113d", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="113e", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="113f", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="1140", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="1141", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="1142", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="1143", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="1145", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="1146", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="1147", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="1148", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="1149", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="114a", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="114b", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="114c", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="114d", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="114e", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="114f", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="1150", ENV{utsushi_driver}="esci"
ATTRS{idProduct}=="1151", ENV{utsushi_driver}="esci"

ATTRS{idProduct}=="013c", ENV{utsushi_driver}="esci:gt-s650", ENV{firmware_file}="esfw010c.bin"
ATTRS{idProduct}=="013d", ENV{utsushi_driver}="esci:gt-s650", ENV{firmware_file}="esfw010c.bin"

#  Give scanner users read/write permissions on the device.
ENV{utsushi_driver}=="esci*", MODE="0666", OWNER="root", GROUP="root"

#  Device detection by libutsushi depends on libsane_matched being set.
ENV{utsushi_driver}=="esci*", ENV{libsane_matched}="yes"

LABEL="utsushi_esci_rules_end"
